html, body, #mapa-canvas {
    height: 100%;
    margin: 0%;
    padding: 0%;
}

#mensajeEstadoSensores{
    text-align: center;
    font-family: "Arial";
    font-size: 150%;
        
    padding: 0.65%;
}


[id^="mensajeError"]{
    color: darkred;
    font-weight: bold;
    text-align: center;
}

h2{
    margin-bottom: 1%;
}