html, body, #mapa-canvas {
    height: 100%;
    margin: 0%;
    padding: 0%;
}

#error {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 15%;
    z-index: 5;
    background-color: #fff;
    padding: 0.5%;
    border: thin solid #999;
    color: black;
    font-weight: bold;
    display: none;
    text-align: center;
}

#mensajeError{
    color: black;
    font-weight: bold;
    text-align: center;
}

h2{
    margin-bottom: 1%;
}

h3{
    padding: 1% 0% 0% 0.5%;
    margin: 2% 0% 1% 0%
}

#coordenadasEstacion{
    margin: 1% 0% 0% 3%;
}

#latitudLongitud{
    margin: 0.5%;
}

#tiempoEn{
    width: 75%;
}

#divTiempo{
    width: 20%;
    text-align: center;
}

#seccionTiempo{
    background-color: white;
    color: black;
    padding: 0%;
    margin: 0 auto;
    width: 96%;
}

#datos{
    display: flex;
}

#datosPrincipales{
    border-right: medium black solid;
    width: 50%;
    padding-right: 4%;
}

#restoDatos{
    width: 50%;
    margin-left: 4%;
}

#divTemperaturaTiempo{
    display: flex;
}

#divTemperatura{
    width: 50%;
}

#cabeceraTiempo{
    display: flex;
    border-bottom: medium black solid;
}

#gradosTemperatura{
    font-size: 310%;
    font-family: sans-serif;
}

#datosExtraTemperatura{
    display: flex;
    margin-top: 18%;
}

#divTabla{
    width: 65%;
}

#iconoTiempo{
    width: 120%
}

#divIconoTemperatura{
    text-align: center;
}

#iconoTemperatura{
    width: 90%;
}

#ultimaMedida{
    font-size: 120%;
    margin: 3.5% 0%;
}

#descripcion{
    font-size: 150%;
    margin: 0%;
}

#nombreEstacion{
    border-top: medium black solid;
}

table{
    border-collapse: collapse;
    margin: 6%;
}

/* a=0 b=0 c=1 -> Especificidad = 1 */
td, tr, th{
    border: groove thin black;
    padding: 5%;
    text-align: center;
    color: white;
}

/* a=0 b=0 c=1 -> Especificidad = 1 */
tr{
    background-color: rgb(155,155,155);
}

tr td:first-of-type{
    background-color: cornflowerblue;
}

tr td:nth-of-type(2){
    background-color: #FF4C4C;
}

ul{
    list-style-type: none;
    padding-left: 0%;
    margin: 0%;
}

li{
    margin: 2% 0%;
}