html, body, #mapa-canvas {
    height: 100%;
    margin: 0%;
    padding: 0%;
}

#error {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 15%;
    z-index: 5;
    background-color: #fff;
    padding: 0.5%;
    border: thin solid #999;
    color: black;
    font-weight: bold;
    display: none;
    text-align: center;
}

#mensajeError{
    color: black;
    font-weight: bold;
    text-align: center;
}

h2{
    margin-bottom: 1%;
}